<p>
  &nbsp;
</p>

<div id="board">
  <div id="layout">
    <div class="row">
      <div class="col-md-6 bet-field layout-top-left">don't come bar</div>
      <div class="col-md-1 bet-field">place 4</div>
      <div class="col-md-1 bet-field">place 5</div>
      <div class="col-md-1 bet-field">place 6</div>
      <div class="col-md-1 bet-field">place 8</div>
      <div class="col-md-1 bet-field">place 9</div>
      <div class="col-md-1 bet-field layout-top-right">place 10</div>
    </div>
    <div class="row">
      <div class="col-md-12 bet-field">Come</div>
    </div>
    <div class="row">
      <div class="col-md-12 bet-field" (click)="fieldBetClick()">Field</div>
    </div>
    <div class="row">
      <div class="col-md-12 bet-field" (click)="dontPassLineClick()">dont pass</div>
    </div>
    <div class="row">
      <div class="col-md-12 bet-field layout-bottom" (click)="passLineClick()">pass</div>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-offset-2 col-md-10" id="rollDice" (click)="rollDiceClick()">
    <p>Roll Dice</p>
  </div>
</div>
<p>Bank: {{bank}} || Current Bet: {{currentBet()}}</p>
<app-dice [die]="diceA"></app-dice><app-dice [die]="diceB"></app-dice>
<p>Point: {{point}}</p>