/* Layout */

#board {
    background: #478d47;
    border: solid 1px #000000;
    border-radius: 20px;
    padding: 20px;
    margin-right: 20px;
}

#board .row {
    margin-left: 0;
    margin-right: 0;
}

#layout {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

.bet-field {
    border: solid 1px #000000;
    min-height: 80px;
    line-height: 80px;
    text-align: center;
}

#rollDice {
    border: solid 1px #000000;
}

.bet-field:hover {
    background: green;
}

.layout-top-left {
    border-top-left-radius: 20px;
}
.layout-top-right {
    border-top-right-radius: 20px;
}
.layout-bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}