<p>
  &nbsp;
</p>

<div class="row">
  <div class="col-md-offset-2 col-md-10 bet-field" id="dontPassLine" (click)="dontPassLineClick()">
    <p>Don't Pass</p>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-10 bet-field" id="passLine" (click)="passLineClick()">
    <p>Pass Line</p>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-10 bet-field" id="rollDice" (click)="rollDiceClick()">
    <p>Roll Dice</p>
  </div>
</div>
<p>Bank: {{bank}} || Current Bet: {{currentBet()}}</p>
<app-dice [die]="diceA"></app-dice><app-dice [die]="diceB"></app-dice>
<p>Point: {{point}}