/* Layout */
#board {
    background: #478d47;
    border: solid 1px #000000;
    border-radius: 20px;
    padding: 20px;
}

#layout {
    width: 100%;
    height: 80%;
    min-height: 400px;
    border-radius: 10px;
}

.bet-field {
    border: solid 1px #000000;
}

.bet-field:hover {
    background: green;
}

.top-left {
    border-top-left-radius: 20px;
}
.bottom-left {
    border-bottom-left-radius: 20px;
}